/* This is the styling for the hero section */

.hero .overlay {
    background-color: rgba(39, 52, 71, .3);
    padding: 40px 120px 160px;
}

.hero-landing {background-image: url("../images/landing-moors.jpg");}
.hero-overview{background-image: url("../images/overview-haworth-parsonage.jpg");}
.hero-charlotte{background-image: url("../images/jane-eyre-rochester.png");}
/* cancel the darkness of the overlay using filter: brightness() as the image is already very dark */
.hero-emily{ background-image: url("../images/emily-hero.png"); filter: brightness(1.4); -webkit-filter: brightness(1.4);}
.hero-anne{ background-image: url(../images/hero-anne-bronte.png); filter: brightness(1.2); -webkit-filter: brightness(1.2); }


.hero {
    background-size: cover;
    text-align: center;
    margin-top: 120px;
    color: #fcf5e5;
}

.hero h1, .hero h2 {margin: 24px;}
.hero a {color: #68d0b0}