/* General styling of elements */
html * {
    /* makes it much easier to figure out the widths of everything */
    box-sizing: border-box;
}

body {
    background-color: #fcf5e5;
    color: #fcf5e5;
}

h1 {font-size: 40px}
h2 {font-size: 32px}
h3 {font-size: 24px}


.container {
    max-width: 1100px;
    margin: 0 auto;
    /* display: grid; */
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
}

/* The styling of the navigation used throughout the site */

a, a:link, a:visited, #navigation{
    text-decoration: none;
    color: #fcf5e5;
}

a:hover {
    color: #fcf5e5cb;
}



#navigation, #footer {
    grid-column: 1 / 13; /* starts at line 1 (left margin) ends at line 13 (right margin) */
    background-color: #273447;
    padding: 24px;
}


.nav-items, #footer {
    display: flex;
    align-items: center;
    /* pushes the logo and links apart */
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    margin: 0px 24px;
}

#navigation ul {
    font-size: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
    /* flexbox used to space the links (the children of the ul are flex items) */
    display: flex;
    gap: 32px; 
}

#navigation li {
    padding: 4px 8px;
    border-radius: 8px;
}
.active {
    border: 2px solid #fcf5e5;
}

/* This is the styling for the footer for the whole site */
#footer {
    font-size: 14px;
}

/* This is the styling for the hero section */
#hero {
    background-image: url("/assets/images/landing-moors.jpg");
    text-align: center;
    margin-top: 120px;
}
#hero .overlay {
    background-color: rgba(39, 52, 71, .3);
    padding: 40px 120px 160px;
}
#hero h1, #hero h2 {margin: 24px;}
#hero a {color: #a3d6c7}
#hero a:hover{
    border: 2px solid;
    padding: 4px;
    border-radius: 8px;
}

/* This is the styling of the intro section */

#introduction {
    width: 60%;
    margin: 64px auto;
    color: #1e1c1a;
    font-family: serif;
    font-size: 18px;
    text-align: center;
    line-height: 1.75em;

}

introduction p {
    padding: 0;
    margin: 0;
}

/* Styling the card section */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
}

.card-1 {grid-column: 1 / 2;}
.card-2 {grid-column: 2 / 3;}
.card-3 {grid-column: 3 / 4;}
